<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Main Page</title>
</head>
<body>
<style>
    body {
        background: aliceblue url("https://pub-static.fotor.com/static/web/site/features/backgrounds/images/Fotor-wood-background-image-5.jpg")
    }
</style>
<div class="dropdown" style="position: absolute;left:5px;top:5px">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Меню
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/user/auth">Для работников</a>
        <a class="dropdown-item" href="/info/about">О нас</a>
    </div>
</div>

<div align="center" style="width: 700px;
        height: 700px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin:200px auto auto;">
    <div>
        <img src="https://99px.ru/sstorage/86/2018/07/10507180927522101.gif"
             width="540" height="250">
    </div>

    <div style="width: 700px">
        <label style="font-size: 36px; color: white;">Спасибо за ваше время! Мы свяжемся с вами в ближайшее время!</label>
    </div>
</div>
<footer class="fixed-bottom" style="background-color:cornflowerblue; height:25px">
    <p align="center">© 2020, Минск, дипломный проект C34/Java TMS</p>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>